@font-face {
	font-family: 'Palatino Linotype';
	src: url('../fonts/PalatinoLinotype-Bold.eot');
	src: url('../fonts/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PalatinoLinotype-Bold.woff2') format('woff2'),
	url('../fonts/PalatinoLinotype-Bold.woff') format('woff'),
	url('../fonts/PalatinoLinotype-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Palatino Linotype';
	src: url('../fonts/PalatinoLinotype-Roman.eot');
	src: url('../fonts/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PalatinoLinotype-Roman.woff2') format('woff2'),
	url('../fonts/PalatinoLinotype-Roman.woff') format('woff'),
	url('../fonts/PalatinoLinotype-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.h1,h2,h1{
	font-family: $heading;
}
@include media-breakpoint-down(md){
	h1,.h1{
		font-size: 25px;	
	}
}
.entry-title{
	font-family: $heading;
	padding: 0; 
	margin: 0;
}
.vc_custom_heading{
	font-weight: bold;
	margin-bottom: 1em;
}
.hero-section{
	color: $color-white;
	min-height: 750px;
	@include media-breakpoint-down(md){
		min-height: 420px;
	}
}

.top-text-block{
	color: $color-white;
	max-width: 650px;
    margin: 0 auto;
    background: rgba(8, 122, 168, 0.7);
	padding: 20px 32px 30px;  
	h1{
		margin-bottom: 0.5em;
	}
}
.btn{
	background: #000;
	color: #fff;
	border-radius: 0; 
	padding: 8px 20px; 
}

.theme-btn{ 
	background: $primary-color; 
	color: $color-white;
	&:hover,
	&:focus{
		background: $secondary-color;
		color: $color-white;
	}
}

.image-list{
	ul{
		list-style: none;
		padding-left: 0;
		margin: 0 -8px;
		@include clearfix();
		li{
			padding-left: 8px;
			padding-right: 8px;
			float: left;
			width: 20%;
			text-align: center;
			a{
				color: $color-black;
				font-family: $heading; 
				font-weight: bold;
				margin-top: 5px;
				display: block;
			}
		}
	}
}
.quality-work{
	padding-top: 3em;
	padding-bottom: 3em;
	.top-text-block{ 
		max-width: 100%;
		background: rgba(0, 0, 0, 0.55);
		padding-top: 2em;
		padding-bottom: 2em;
		h2{
			margin-bottom: 0.5em;
		}	
	}
}
// Navigation 
#main-menu{
	margin-right: -20px;
	.menu-item{
		margin-left: 10px;
		margin-right: 10px;
		font-size: 16px;
		font-family: $heading;
	}
}
.white-btn{
	color: $color-white;
	background: $theme-dark;
	width: 208px;

	&:hover,
	&:focus{
		background: $primary;
	}
}
h1.entry-title:after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    max-width: 165px;
    height: 1px;
    background: #c0c0c0;
    vertical-align: middle;
    width: 100%;
}

.navbar-nav .nav-link{
	text-transform: uppercase;
	color: #6d6d6d;
	font-size: 13px;
}
#wrapper-navbar{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.19);
}
.site-main{
	margin-top: 30px;
}
header.entry-header{
	margin-bottom: 15px;
}
.wrapper{
	padding: 0;
}
// .text-center{
// 	a{
// 		color: $theme-red;
// 	}
// }
.color1{
	color: $theme-red;
}

#menu-footer-menu{
	text-align: center;
	padding-left: 0;
	li{ 
		display: inline-block;
		margin: 0 8px;
		a{
			color: $theme-red;
		}
	}
}
.text-large{
	font-size: 21px;
}
.design-icon{
	position: relative;
	&:before{
		background: url('../assets/images/sprite-icon.png') no-repeat left center;		
		content: '';
		display: block;
		height: 36px;
		width: 44px;
		background-position: -16px -221px;
		position: absolute;
	}
	.wpb_wrapper{
		padding-left: 50px;
		padding-top: 5px;
	}
}
.our-feature{
	font-family: $heading;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #000;
	&.vc_row{
		margin: 30px 0 30px; 
	}
	.vc_column_container>.vc_column-inner{
		padding-left: 8px;
		padding-right: 8px;
	}
	.setup-icon{
		@extend .design-icon;  
		&:before{
			background-position: -18px -151px; 	
		}
	}
	.shipping-icon{
		@extend .design-icon;  
		&:before{
			background-position: -12px -8px; 	
		}
	}
	.machine-icon{
		@extend .design-icon;  
		&:before{
			background-position: -16px -80px; 	
		}
	}
	@include media-breakpoint-down(sm){
		padding-top: 25px;	
		.vc_column_container.vc_col-sm-3{
			.vc_column-inner{
				padding-top: 0 !important;
				max-width: 270px;
				margin: 0 auto;
			}
		}
	}
}

// why us
.why-us-row{
	.vc_column_container>.vc_column-inner{
		margin-top: 30px;
	}
	h3{
		font-family: $heading;
		font-size: 21px;
		margin-bottom: 0.5em;
	}
}

#wrapper-footer-full{
	background: #010912;
	color: $color-white;
	padding-top: 60px;
	a{
		color: $color-white;
	}
	@media (min-width: 768px){
		[class*='col-md-']{
			&:last-child{
				text-align: right;
			}
		}
	}
}
.social-media{
	padding-left: 0;
	text-align: center;
	li{
		padding-left: 8px;
		padding-right: 8px;
		display: inline-block;
	}
}
.footer-address{
	color: #b9b9b9;
	font-size: 14px;
	ul{
		padding-left: 0;
		margin-bottom: 0;
	}
	li{
		list-style:none;
	}
}
.copyright-wrap{
	@extend .social-media;
	font-size: 14px;
	margin-top: 20px;
	border-top: 1px solid lighten($theme-dark, 15%);
	padding-top: 8px;
	color: #64696e;
	ul{
		padding-left: 0;
		li a{
			color: #64696e !important;
		}
	}
}
.home.page-template{
	.site-main{
		margin-top: 0;
	}
}