.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3{
    font-family: inherit;
    font-size: 18px;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
    text-align: center;
}
.woocommerce ul.products li.product .price{
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    color: #333333;
}