// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@font-face {
	font-family: 'Palatino Linotype';
	src: url('../fonts/PalatinoLinotype-Bold.eot');
	src: url('../fonts/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PalatinoLinotype-Bold.woff2') format('woff2'),
	url('../fonts/PalatinoLinotype-Bold.woff') format('woff'),
	url('../fonts/PalatinoLinotype-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Palatino Linotype';
	src: url('../fonts/PalatinoLinotype-Roman.eot');
	src: url('../fonts/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PalatinoLinotype-Roman.woff2') format('woff2'),
	url('../fonts/PalatinoLinotype-Roman.woff') format('woff'),
	url('../fonts/PalatinoLinotype-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.entry-title{
	font-family: $heading;
	padding: 0; 
	margin: 0;
}
.entry-header{
	display: none;
	
}